.breadcrumps
  .container
    .breadcrumps-body
      .breadcrumps__item Личный кабинет клиента ТМК
      .breadcrumps__item.breadcrumps__arrow >
      .breadcrumps__item.breadcrumps__item--current Личный кабинет клиента ТМК