.lk-tmk
  .lk-tmk-body
    .lk-tmk-top 
      .lk-tmk-brick-el.brick-el
        .lk-tmk-brick-el__img
          img(src="./assets/img/icons/lk/diagrm.png", alt="")
        .lk-tmk-brick-el-text
          .lk-tmk-brick-el-text__title Отчётность
          .lk-tmk-brick-el-text-list
            .lk-tmk-brick-el-text-list-cell
              .lk-tmk-brick-el-text-list__item
                a(href="#").lk-tmk-brick-el-text-list__link Портфель заказов 
              .lk-tmk-brick-el-text-list__item
                a(href="#").lk-tmk-brick-el-text-list__link Отчёт об отгрузке
              .lk-tmk-brick-el-text-list__item
                a(href="#").lk-tmk-brick-el-text-list__link Счета - фактуры
      .lk-tmk-bricks-small
        .lk-tmk-brick-el.brick-el
          .lk-tmk-brick-el__img
            img(src="./assets/img/icons/lk/kalendar.png", alt="")
          .lk-tmk-brick-el-text
            .lk-tmk-brick-el-text__title Учёт рабочего времени
        .lk-tmk-brick-el.brick-el
          .lk-tmk-brick-el__img
            img(src="./assets/img/icons/lk/calc.png", alt="")
          .lk-tmk-brick-el-text
            .lk-tmk-brick-el-text__title Расчёт трубопровода
      .lk-tmk-brick-el.brick-el.brick-el--base
        .lk-tmk-brick-el__img
          img(src="./assets/img/icons/lk/base.png", alt="")
        .lk-tmk-brick-el-text
          .lk-tmk-brick-el-text__title Электронная база
          .lk-tmk-brick-el-text-list
            .lk-tmk-brick-el-text-list-cell
              .lk-tmk-brick-el-text-list__item
                a(href="#").lk-tmk-brick-el-text-list__link Сертификаты качества
              .lk-tmk-brick-el-text-list__item
                a(href="#").lk-tmk-brick-el-text-list__link Упаковочные листы
              .lk-tmk-brick-el-text-list__item
                a(href="#").lk-tmk-brick-el-text-list__link Автоматическая загрузка
              .lk-tmk-brick-el-text-list__item
                a(href="#").lk-tmk-brick-el-text-list__link Протоколы загрузок
            .lk-tmk-brick-el-text-list-cell
              .lk-tmk-brick-el-text-list__item
                a(href="#").lk-tmk-brick-el-text-list__link Обработка непривязанных файлов
              .lk-tmk-brick-el-text-list__item
                a(href="#").lk-tmk-brick-el-text-list__link Ведение сертификатов качества
              .lk-tmk-brick-el-text-list__item
                a(href="#").lk-tmk-brick-el-text-list__link Ведение упаковочных листов
    .lk-tmk-bot
      .lk-tmk-brick-el.brick-el
        .lk-tmk-brick-el__img
          img(src="./assets/img/icons/lk/nuts.png", alt="")
        .lk-tmk-brick-el-text__title Профиль
      
