.sertificates-section
  h2.sertificates__title Поиск и отображение сертификатов качества
  form.sertificates-form
    .sertificates-form-item
      label.sertificates-form-item__label Завод, выдавший СК
      select.sertificates-form-item__input--style.sertificates-form-item__select(name="2")
        option(value="2") 2
    .sertificates-form-item-two
      .sertificates-form-item
        label.sertificates-form-item__label Дата выдачи с:
        .sertificates-form-item__input-time-wrap
          input.sertificates-form-item__input.sertificates-form-item__input--style(type="text")
      .sertificates-form-item
        label.sertificates-form-item__label Дата выдачи по:
        .sertificates-form-item__input-time-wrap
          input.sertificates-form-item__input.sertificates-form-item__input--style(type="text")
    .sertificates-form-item-two--long
      .sertificates-form-item
        label.sertificates-form-item__label Номер сертификата
        input.sertificates-form-item__input.sertificates-form-item__input--style(type="text" placeholder="Введите номер сертификата")
      .sertificates-form-item
        label.sertificates-form-item__label Номер транспортного средства
        input.sertificates-form-item__input.sertificates-form-item__input--style(type="text" placeholder="Введите номер транспортного средства")
    .sertificates-form-item-two
      .sertificates-form-item
        label.sertificates-form-item__label Дата создания с:
        .sertificates-form-item__input-time-wrap
          input.sertificates-form-item__input.sertificates-form-item__input--style(type="text")
      .sertificates-form-item
        label.sertificates-form-item__label Дата создания по:
        .sertificates-form-item__input-time-wrap
          input.sertificates-form-item__input.sertificates-form-item__input--style(type="text")
    .sertificates-form-item-two
      .sertificates-form-item
        label.sertificates-form-item__label Дата изменения с:
        .sertificates-form-item__input-time-wrap
          input.sertificates-form-item__input.sertificates-form-item__input--style(type="text")
      .sertificates-form-item
        label.sertificates-form-item__label Дата изменения по:
        .sertificates-form-item__input-time-wrap
          input.sertificates-form-item__input.sertificates-form-item__input--style(type="text")
