.bottom-text
  .container
    .bottom-text__el Если Вам не доступны какие-либо из вышеуказанных отчётов/документов или у Вас есть потребность в использовании дополнительных отчётов/документов в Личном кабинете, обратитесь к Вашему менеджеру в ПАО «ТМК».