.bottom-text
  .container
    .bottom-text-wrap
      .bottom-text-inner
        .bottom-text__el Доступ к Личному кабинету предоставляется для клиентов и сотрудников ПАО «Трубная металлургическая компания».
        .bottom-text__el В случае возникновения проблем обращайтесь к нам по электронной почте: 
          a(href="#").tmk__link lk@tmk-group.com