extends ../layouts/_main-page.pug
block breadcrumps
  include ../includes/_breadcrumps.pug
block sections
  include ../includes/_main.pug
  include ../includes/auth.pug
block textBeforeFooter
  include ../includes/textBeforeFooter.pug