extends ../layouts/lk-auth-user.pug
block breadcrumps
  include ../includes/_breadcrumps.pug
block sections
  include ../includes/lk-tmk-blocks.pug
block textBeforeFooter
  include ../includes/textAuthFooter.pug