.footer {
  margin-top: 10px;
  &-wrap {
    margin-top: auto;
  }
  &-container {
    padding: 17px;
    background: #302E2C;
  }
  &__text {
    text-align: center;
    color: #FFFFFF;
    a {
      color: white;
    }
  }
}