footer.footer
  .container
    .footer-body
      .footer__text © 2014-2021 ПАО «Трубная металлургическая компания» 105062, г. Москва, ул. Покровка, д.40, стр. 2а. E-mail: 
        a(href="#").tmk__link--footer lk@tmk-group.com
script(src="assets/js/app.min.js")