footer.footer
  .container.footer-container
    .footer-body
      .footer__text © 2014-2021 ПАО «Трубная металлургическая компания» 105062, г. Москва, ул. Покровка, д.40, стр. 2а. E-mail: 
        a(href="#").tmk__link--footer lk@tmk-group.com
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
script(src="assets/js/jquery.datetimepicker.full.min.js")
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
script(src="assets/js/tabulator.min.js")  
script(src="assets/js/app.min.js")