header.header
    .container.header-container
        .header-body
            a(href="#").header__logo
                img(src="./assets/img/icons/logo.png", alt="logo tmk")
            .header-center
                a(href="#").header__title Личный кабинет
                .header-type
                    .header-type__current TMK Europe GmbH
                        .header-type__arrow
                    ul.header-type-list 
                        li.header-type__item
                            a(href="#").header-type__link TMK Europe GmbH 111
                        li.header-type__item
                            a(href="#").header-type__link TMK Europe GmbH 111
                        li.header-type__item
                            a(href="#").header-type__link TMK Europe GmbH 111
                        li.header-type__item
                            a(href="#").header-type__link TMK Europe GmbH 111
            .header-right
                .header-lang
                    a(href="#").header-lang__item rus
                    a(href="#").header-lang__item.header-lang__item--active en
                .header-auth
                    .header-user__img
                        img(src="./assets/img/icons/user.png", alt="1")
                    .header-auth__text Иванов И.И.
                    .header-auth__logOut
                      img(src="./assets/img/icons/logout.png", alt="")