header.header
    .container.header-container
        .header-body
            .header__logo
                img(src="./assets/img/icons/logo.png", alt="logo tmk")
            .header-center
                .header__title Личный кабинет
            .header-right
                .header-lang
                    a(href="#").header-lang__item rus
                    a(href="#").header-lang__item.header-lang__item--active en
                .header-auth
                    .header-user__img
                        img(src="./assets/img/icons/user.png", alt="1")
                    .header-auth__text Вход